node_modules
dist
dist-ssr
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.*
!.env.production
!.env.example
.git
.gitignore
.vscode
.idea
.DS_Store
*.log
README.md
Dockerfile
.dockerignore
