PORT=5000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=mamuri_memberarea
JWT_SECRET=e844c6d474d695de09f87d354ed64559fa5a8accf6266a9019dbfba4615644a559a60672152e64fb9924daa066feec68dc759e31d2cc044cd639e771583f1617
JWT_EXPIRES_IN=7d
ADMIN_NAME=Admin Mamuri
ADMIN_EMAIL=admin@mamuri.com
ADMIN_PASSWORD=Admin123!

# Opsional: tambahan origin frontend (koma). Contoh staging / domain lain:
# CORS_ORIGINS=https://staging.mamuri.id,https://www.mamuri.id
